<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search company</title>
  </head>
  <body>
    <form method=get action="{% url 'search' %}">
      <input type="text" name="company_name" placeholder="Enter company name">
      <button type="submit">Search</button>
    </form>

    {% if companies %}
      <ul>
        {% for company in companies %}
        <li><a href="review/{{company}}">logo - {{company}}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <h2>Company not found</h2>
    {% endif %}

  </body>
</html>
